#award-stats {
    transition: grid-template-columns 0.3s ease;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
    
    > div {
      min-width: 0;
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.2s ease;
      background-color: white;
      border-radius: 0.75rem;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
      padding: 1.5rem;
      cursor: pointer;
      
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
      }
    }
  }
  
  a.flex-shrink-0 {
    img {
      height: 152px;
      width: auto;
      transition: all 0.2s ease;
      
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  
  .page-title[_ngcontent-ng-c3925825219] {
    font-size: 1.5rem;
    font-weight: 500;
    color: #212121;
    margin-top: 10px;
}