<div id="risk-summary" class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
  <!-- Card Template -->
  <ng-container *ngFor="let kpi of kpiList">
    <div class="bg-white rounded-xl shadow-md p-6">
      <div class="flex justify-between items-center mb-4">
        <div class="flex items-center">
          <div class="w-12 h-12 rounded-full flex items-center justify-center"
            [ngStyle]="{ 'background-color': kpi.iconBg }">
            <i [class]="kpi.icon + ' text-2xl'" [ngStyle]="{ color: kpi.iconColor }"></i>
          </div>
          <span class="text-[#757575]  break-words ml-4 font-medium">{{ kpi.label }}</span>
        </div>
        <div class="flex flex-col items-center text-sm ml-2 ">
          <span [ngClass]="{
      'text-green-500': kpi.comparison > 0,
      'text-red-500': kpi.comparison < 0,
      'text-[#FFC107]': kpi.comparison === 0
    }" class="flex items-center gap-1">

            <!-- Icon -->
            <i *ngIf="kpi.comparison > 0" class="fa-solid fa-arrow-up"></i>
            <i *ngIf="kpi.comparison < 0" class="fa-solid fa-arrow-down"></i>

            <!-- For comparison = 0 -->
            <div *ngIf="kpi.comparison === 0" class="flex items-center gap-1">
              <i class="fa-solid fa-equals"></i>
              <span>0%</span>
            </div>

            <!-- Comparison number -->
            <span *ngIf="kpi.comparison !== 0" class="text-xs">{{ kpi.comparison }}%</span>
          </span>

          <!-- "vs last month" label -->
          <span class="text-xs mt-1">vs last month</span>
        </div>
      </div>


      <div class="text-4xl font-bold text-[#757575] mb-2">{{ kpi.value }}{{ kpi.isPercent ? '%' : '' }}</div>
      <div class="bg-gray-200 rounded-full h-2 w-full">
        <div class="h-2 rounded-full" [ngClass]="kpi.barColor" [style.width]="kpi.value + '%'"></div>
      </div>
    </div>
  </ng-container>
</div>